* {

}

body {
  overflow: hidden;
}

.main-animation {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 25px;
}

.giant-glaz {
  position: absolute;
  top: 180%;
  z-index: -100;
  width: 1000px;
  height: 1000px;
  background-color: #C4222C;
  border-radius: 50%;
}

.giant-zrachok {
  width: 700px;
  height: 700px;
  background-color: white;
  border-radius: 50%;
}

.first-eye {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  top: 20%;
  left: -20%;
  background-color: #C4222C;
  transition-duration: 0.4s;
}

.first-zrachok {
  position: relative;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.second-eye {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  z-index: -24;
  top: 20%;
  right: -20%;
  background-color: #C4222C;
  transition-duration: 0.4s;
}

.second-zrachok {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.third-eye {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  position: absolute;
  z-index: -24;
  left: -20%;
  background-color: #C4222C;
  transition-duration: 0.4s;
}

.third-zrachok {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  transition-duration: 0.4s;
}

.img1 {
  z-index: -3;
  background-image: url(../img/1.svg);
  background-repeat: no-repeat;
  width: 600px;
  height: 785px;
  position: absolute;
  left: 10.05%;
  bottom: -785px;
  z-index: 0
}

.img2 {
  background-image: url(../img/2.svg);
  background-repeat: no-repeat;
  width: 375px;
  height: 410px;
  position: absolute;
  left: 24.01%;
  bottom: -410px;
  z-index: -3;
}

.img3 {
  background-image: url(../img/3.svg);
  background-repeat: no-repeat;
  width: 250px;
  height: 623px;
  position: absolute;
  left: 38.96%;
  bottom: -623px;

  z-index: -5;
}

.img4 {
  width: 240px;
  height: 624px;
  background-image: url(../img/4.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 76.51%;
  bottom: -624px;
  z-index: -7
}

.img5 {
  width: 310px;
  height: 808px;
  background-image: url(../img/5.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 86.82%;
  bottom: -808px;
  z-index: -9;
}

.img6 {
  width: 310px;
  height: 678px;
  background-image: url(../img/6.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 24.9%;
  bottom: -678px;
  z-index: -11;
}

.img7 {
  width: 210px;
  height: 524px;
  background-image: url(../img/7.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 33.23%;
  bottom: -524px;
  z-index: -13;
}

.img8 {
  width: 170px;
  height: 434px;
  background-image: url(../img/8.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 47.4%;
  bottom: -434px;
  z-index: -15;
}

.img9{
  width: 150px;
  height: 359px;
  background-image: url(../img/9.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 4%;
  bottom: -359px;
  z-index: -17;
}

.img10 {
  width: 210px;
  height: 400px;
  background-image: url(../img/10.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: -10px;
  bottom: -400px;
  z-index: -19;
}

.img11 {
  width: 210px;
  height: 478px;
  background-image: url(../img/11.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 0.6%;
  bottom: -478px;
  z-index: -21;
}

.img12 {
  width: 120px;
  height:610px;
  background-image: url(../img/12.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 5.21%;
  bottom: -610px;
  z-index: -23;
}


.img13 {
  width: 200px;
  height: 662px;
  background-image: url(../img/13.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 32.76%;
  bottom: -662px;
  z-index: -25;
}


.img14 {
  width: 200px;
  height: 496px;
  background-image: url(../img/14.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 68%;
  bottom: -496px;
  z-index: -27;
}

.img15 {
  width: 230px;
  height: 306px;
  background-image: url(../img/15.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 59.38%;
  bottom: -306px;
  z-index: -29;
}

.img16 {
  width: 130px;
  height: 442px;
  background-image: url(../img/16.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 65.83%;
  bottom: -442px;
  z-index: -31;
}

.img17 {
  width: 140px;
  height: 475px;
  background-image: url(../img/17.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 61.04%;
  bottom: -475px;
  z-index: -33;
}

.img18 {
  width: 200px;
  height: 351px;
  background-image: url(../img/18.svg);
  background-repeat: no-repeat;
  position: absolute;
  left: 53.91%;
  bottom: -351px;
  z-index: -35 ;
}

@media (max-width: 1440px) {
  .img1 {
    background-image: url(../img/1.1.svg);
    height: 650px;
  }
  .img2 {
    background-image: url(../img/2.1.svg);
    height: 377px;
  }
  .img3 {
    background-image: url(../img/3.1.svg);
    height: 516px
  }
  .img4 {
    background-image: url(../img/4.1.svg);
    height: 517px;
  }
  .img5 {
    background-image: url(../img/5.1.svg);
    height: 670px
  }
  .img6 {
    background-image: url(../img/6.1.svg);
    height: 562px
  }
  .img7 {
    background-image: url(../img/7.1.svg);
    height: 434px;
  }
  .img8 {
    background-image: url(../img/8.1.svg);
    height: 360px;
  }
  .img9 {
    background-image: url(../img/9.1.svg);
    height: 298px
  }
  .img10 {
    background-image: url(../img/10.1.svg);
    height: 331px
  }
  .img11 {
    background-image: url(../img/11.1.svg);
    height: 396px
  }
  .img12 {
    background-image: url(../img/12.1.svg);
    height: 506px
  }
  .img13 {
    background-image: url(../img/13.1.svg);
    height: 549px
  }
  .img14 {
    background-image: url(../img/14.1.svg);
    height: 411px
  }
  .img15 {
    background-image: url(../img/15.1.svg);
    height: 254px
  }
  .img16 {
    background-image: url(../img/16.1.svg);
    height: 366px
  }
  .img17 {
    background-image: url(../img/17.1.svg);
    height: 394px
  }
  .img18 {
    background-image: url(../img/18.1.svg);
    height: 291px;
  }
}
